@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' sans-serif;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
  }
  .logo {
    display: flex;
    align-items: center;
   }
   
   .logo #menu {
    padding: 0 7px;
    cursor: pointer;
   }
   .search-section {
    display: flex;
   }
   
   .search-section form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
   }
   .search-section input {
    width: 600px;
    padding:10px;
    border: 0;
    height: 100%;
    border-radius: 2px 0 0 2px
  }
  
  input:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  .search-section button {
    height: 100%;
    width: 60px;
    border: none;
  }
   
  .microphone {
    margin-top: 10px;
  }
  .font-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
  }
.main-section {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
  }
.side-navbar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
  } 
  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .navbar-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
 .navbar-link span {
    margin-left: 15px;
  }
  
 .navbar-link:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
 
 .active {
    background: #e5e5e5;
 }

 .content-section {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
  }
  
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .video {
    width: 270px;
    margin-bottom: 30px;
  }
 

.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.video-details {
    display: flex;
  }
   
  .title {
    display: flex;
    flex-direction: column;
  }
   
  .title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
  }
   
  .title a,
  span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 12px;
  }
